@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

h1, p{
    text-align: center;
    padding: 20px;
}

table {
    margin: auto;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}